@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-mobile: 30rem;
  --w-mobile: 30rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-desktop: 90rem;
  --color-background: #41444f;
  --color-foreground: #1a1a1a;
  --color-logoOrange: #f29145;
  --color-logoNeutral: #fcfcfc;
  --color-nav-link: #b0b0b0;
  --color-nav-link-active: #f29145;
  --color-hamburger-menu: #fcfcfc;
  --color-line: #383b42;
  --color-footer-background: #222327;
  --color-footer-text: #e7e7e7;
  --color-footer-h: #fcfcfc;
  --clolor-slide-show-background: #222327;
  --clolor-slide-show-h: #fcfcfc;
  --clolor-slide-show-text: #e7e7e7;
  --clolor-slide-show-button: #f29145;
  --clolor-slide-show-arow: #262626;
  --color-section-text: #fcfcfc;
  --color-section-link: #f29145;
  /* -------------------------------------------------- */
  --color-brand-background: #262626;
  --color-brand-border: #616674;
  /* -------------------------------------------------- */
  --color-recomendation-background: #262626;
  --color-recomendation-text: #fcfcfc;
  --color-recomendation-category-text: #fdedd7;
  --color-recomendation-category-background: #e5610a;
  /* -------------------------------------------------- */
  --color-filter-h: #fcfcfc;
  --color-filter-icon: #fcfcfc;
  --color-filter-background: #262626;
  --color-filter-text: #fcfcfc;
  --color-filter-placeholder: #b0b0b0;
  --color-filter-border: #616674;
  --color-filter-error-text: #ff4d4f;
  /* --------------------------------------------------- */
  --color-filter-checkbox-text: #fcfcfc;
  --color-filter-checkbox-background: #1a1a1a;
  --color-filter-checkbox-background-checked: #f29145;
  --color-filter-checkbox-border: #616674;
  --color-filter-checkbox-checkmark: #262626;
  /* --------------------------------------------------- */
  --color-filter-input-background: #fcfcfc;
  --color-filter-input-text: #1a1a1a;
  --color-filter-input-placeholder: #616674;
  --color-filter-input-border: #616674;
  --color-filter-input-border-focus: #f29145;
  --color-filter-input-currency: #1a1a1a;
  /* -------------------------------------------------- */
  --color-product-card-background: #262626;
  --color-product-card-border: #383b42;
  --color-product-card-text: #fcfcfc;
  --color-product-card-button-background: #e5610a;
  --color-product-card-button-text: #fdedd7;
  --color-product-icon: #fcfcfc;
  --color-product-icon-background: #262626;
  /* -------------------------------------------------- */
  --color-product-nav-primary: #b0b0b0;
  --color-product-nav-secondary: #fcfcfc;
  /* -------------------------------------------------- */
  --color-product-description-h: #fcfcfc;
  --color-product-description-text-primary: #b0b0b0;
  --color-product-description-text-secondary: #e7e7e7;
  --color-product-description-link: #f29145;
  --color-product-description-border: #fcfcfc;
  --color-product-description-button: #e5610a;
  --color-product-description-button-text: #fdedd7;
  --color-product-description-icon: #4ade80;
  /* -------------------------------------------------- */
  --color-purchasing-container-background: #262626;
  --color-purchasing-container-border: #383b42;
  --color-purchasing-container-h: #b0b0b0;
  --color-purchasing-container-color-input-border: #fcfcfc;
  --color-purchasing-container-stock-border: #fcfcfc;
  --color-purchasing-container-stock-text: #fcfcfc;
  --color-purchasing-container-price-input-text: #fcfcfc;
  --color-purchasing-container-button-hover-background: #f29145;
  --color-purchasing-container-button-hover-text: #1a1a1a;
  --color-purchasing-container-button-text: #f29145;
  --color-purchasing-container-button-border: #f29145;
  --color-purchasing-container-button-background-disabled: #616674;
  --color-purchasing-container-button-text-disabled: #b0b0b0;
  --color-purchasing-container-button-border-disabled: #616674;
  /* -------------------------------------------------- */

  /* -------------------------------------------------- */

  /* -------------------------------------------------- */

  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
}
@layer base {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }
  html {
    @apply bg-background;
  }
  body {
    @apply max-tablet:w-80 min-tablet:w-192 min-desktop:w-360 flex flex-col mx-auto bg-foreground;
  }
}
@layer components {
  .link {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link  hover:text-nav-link-active cursor-pointer capitalize;
  }
  .active {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link-active cursor-pointer capitalize;
  }
  .is-open {
    @apply block;
  }
  footer ul li {
    @apply w-[191px] max-desktop:w-[161px] max-tablet:w-[110px]  flex flex-col gap-[32px];
  }
  footer ul li h3 {
    @apply font-semibold text-[20px] leading-[30px] tracking-[-0.02rem];
  }
}
.swiper-slide {
  display: flex;
  background: #262626;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  border-radius: 6px;
  border: 2px solid #383b42;
  height: 75%;
  width: 100%;
}
.mySwiper2 .swiper-slide {
  padding: 12px;
}

.mySwiper {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  margin-top: 32px;
  width: 130px;
  height: calc(100% - 32px);
  opacity: 0.4;
  border-radius: 6px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #f29145;
}
.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}
