@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-mobile: 30rem;
  --w-mobile: 30rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-desktop: 90rem;
  /* -------------------------------------------------- */
  --color-background: #41444f;
  --color-foreground: #1a1a1a;
  --color-logoOrange: #f29145;
  --color-logoNeutral: #fcfcfc;
  --color-nav-link: #b0b0b0;
  --color-nav-link-active: #f29145;
  --color-hamburger-menu: #fcfcfc;
  --color-line: #383b42;
  /* -------------------------------------------------- */
  --color-footer-background: #222327;
  --color-footer-text: #e7e7e7;
  --color-footer-h: #fcfcfc;
  /* -------------------------------------------------- */
  --color-slide-background: #222327;
  --color-slide-h: #fcfcfc;
  --color-slide-text: #e7e7e7;
  --color-slide-link: #f29145;
  --color-slide-link-hover: #262626;
  --color-slide-arrow: #262626;
  --clolor-slide-show-progress: #f29145;
  /* -------------------------------------------------- */
  --color-section-text: #fcfcfc;
  --color-section-link: #f29145;
  /* -------------------------------------------------- */
  --color-category-background: #262626;
  --color-category-border: #616674;
  --color-category-text: #fcfcfc;
  /* -------------------------------------------------- */
  --color-brand-background: #262626;
  --color-brand-border: #616674;
  --color-brand-text: #fcfcfc;
  /* -------------------------------------------------- */
  --color-recomendation-background: #262626;
  --color-recomendation-text: #fcfcfc;
  --color-recomendation-text-secondary: #e7e7e7;
  --color-recomendation-category-text: #fdedd7;
  --color-recomendation-category-background: #e5610a;
  /* -------------------------------------------------- */
  --color-filter-h: #fcfcfc;
  --color-filter-icon: #fcfcfc;
  --color-filter-background: #262626;
  --color-filter-text: #fcfcfc;
  --color-filter-placeholder: #b0b0b0;
  --color-filter-border: #616674;
  --color-filter-error-text: #ff4d4f;
  --color-filter-error-text1: #f87171;
  /* --------------------------------------------------- */
  --color-filter-checkbox-text: #fcfcfc;
  --color-filter-checkbox-background: #1a1a1a;
  --color-filter-checkbox-background-checked: #f29145;
  --color-filter-checkbox-border: #616674;
  --color-filter-checkbox-checkmark: #262626;
  /* --------------------------------------------------- */
  --color-filter-input-background: #fcfcfc;
  --color-filter-input-text: #1a1a1a;
  --color-filter-input-placeholder: #616674;
  --color-filter-input-border: #616674;
  --color-filter-input-border-focus: #f29145;
  --color-filter-input-currency: #1a1a1a;
  /* -------------------------------------------------- */
  --color-product-card-background: #262626;
  --color-product-card-border: #383b42;
  --color-product-card-text: #fcfcfc;
  --color-product-card-button-background: #e5610a;
  --color-product-card-button-text: #fdedd7;
  --color-product-icon: #fcfcfc;
  --color-product-icon-background: #262626;
  /* -------------------------------------------------- */
  --color-pagination-button-border: #fcfcfc;
  --color-pagination-button-text: #fcfcfc;
  --color-pagination-button-border-disabled: #383b42;
  --color-pagination-button-text-disabled: #383b42;
  --color-pagination-button-page-background-active: #f29145;
  --color-pagination-button-page-text: #b0b0b0;
  --color-pagination-button-page-text-active: #262626;
  /* -------------------------------------------------- */
  --color-bar-nav-primary: #fcfcfc;
  --color-bar-nav-secondary: #b0b0b0;
  /* -------------------------------------------------- */
  --color-product-description-h: #fcfcfc;
  --color-product-description-text-primary: #b0b0b0;
  --color-product-description-text-secondary: #e7e7e7;
  --color-product-description-link: #f29145;
  --color-product-description-border: #fcfcfc;
  --color-product-description-button: #e5610a;
  --color-product-description-button-text: #fdedd7;
  --color-product-description-icon: #4ade80;
  /* -------------------------------------------------- */
  --color-purchasing-container-background: #262626;
  --color-purchasing-container-border: #383b42;
  --color-purchasing-container-h: #b0b0b0;
  --color-purchasing-container-color-input-border: #fcfcfc;
  --color-purchasing-container-stock-border: #fcfcfc;
  --color-purchasing-container-stock-text: #fcfcfc;
  --color-purchasing-container-price-input-text: #fcfcfc;
  --color-purchasing-container-button-hover-background: #f29145;
  --color-purchasing-container-button-hover-text: #1a1a1a;
  --color-purchasing-container-button-text: #f29145;
  --color-purchasing-container-button-border: #f29145;
  --color-purchasing-container-button-background-disabled: #616674;
  --color-purchasing-container-button-text-disabled: #b0b0b0;
  --color-purchasing-container-button-border-disabled: #616674;
  /* -------------------------------------------------- */
  --color-login-background: #262626;
  --color-login-border: #383b42;
  --color-login-h: #fcfcfc;
  --color-login-palaceholder: #b0b0b0;
  --color-login-input-border: #616674;
  --color-login-text-primary: #fcfcfc;
  --color-login-text-secondary: #e7e7e7;
  --color-login-button-background: #f29145;
  --color-login-button-text: #262626;
  --color-login-checkbox-border: #616674;
  --color-login-checkbox-background: #1a1a1a;
  --color-login-checkbox-background-checked: #f29145;
  --color-login-checkbox-checkmark: #262626;
  /* -------------------------------------------------- */
  --color-register-background: #262626;
  --color-register-border: #383b42;
  --color-register-h: #fcfcfc;
  --color-register-placeholder: #b0b0b0;
  --color-register-input-border: #616674;
  --color-register-text-primary: #fcfcfc;
  --color-register-text-secondary: #e7e7e7;
  --color-register-error-text: #f87171;
  --color-register-input-border-error: #dc2626;
  --color-register-link: #f29145;
  --color-register-button-background: #f29145;
  --color-register-button-text: #262626;
  --color-register-checkbox-border: #616674;
  --color-register-checkbox-background: #1a1a1a;
  --color-register-checkbox-background-checked: #f29145;
  --color-register-checkbox-checkmark: #262626;
  /* -------------------------------------------------- */
  --color-cart-background: #262626;
  --color-cart-border: #383b42;
  --color-cart-text: #fcfcfc;
  --color-cart-button-background: #f29145;
  --color-cart-button-text: #fdedd7;
  --color-cart-link: #f29145;
  --color-cart-icon: #f87171;
  --color-cart-input-border: #fcfcfc;
  --color-cart-input-text: #fcfcfc;
  /* -------------------------------------------------- */
  --color-cart-checkout-background: #262626;
  --color-cart-checkout-border: #383b42;
  --color-cart-checkout-h: #fcfcfc;
  --color-cart-checkout-text: #e7e7e7;
  --color-cart-checkout-button-background: #f29145;
  --color-cart-checkout-button-text: #262626;
  /* -------------------------------------------------- */
  --color-checkout-background: #262626;
  --color-checkout-border: #383b42;
  --color-checkout-border-separator: #848a97;
  --color-checkout-border-quantity: #fcfcfc;
  --color-checkout-h: #fcfcfc;
  --color-checkout-text-primary: #fcfcfc;
  --color-checkout-text-secondary: #e7e7e7;
  --color-checkout-link: #f29145;
  --color-checkout-button-background: #e5610a;
  --color-checkout-button-text: #fdedd7;
  --color-checkout-checkbox-background: #1a1a1a;
  --color-checkout-checkbox-border: #616674;
  --color-checkout-address-input: #616674;
  --color-checkout-checkbox-background-checked: #f29145;
  --color-checkout-checkbox-checkmark: #262626;
  --color-checkout-input-placeholder: #b0b0b0;

  /* -------------------------------------------------- */
  --color-modal-background: #1a1a1a;
  --color-modal-border: #383b42;
  --color-modal-h: #fcfcfc;
  --color-modal-text: #fcfcfc;
  --color-modal-option-background: #262626;
  --color-modal-option-border: #616674;
  /* -------------------------------------------------- */
  --color-summary-background: #262626;
  --color-summary-border: #383b42;
  --color-summary-cupon-border: #616674;
  --color-summary-cupon-placeholder: #b0b0b0;
  --color-summary-h: #fcfcfc;
  --color-summary-text: #e7e7e7;
  --color-summary-link: #f29145;
  --color-summary-button-text: #262626;
  --color-summary-button-background: #f29145;
  /* -------------------------------------------------- */
  --color-payment-background: #262626;
  --color-payment-border: #383b42;
  --color-payment-h: #fcfcfc;
  --color-payment-text-primary: #fcfcfc;
  --color-payment-text-secondary: #e7e7e7;
  --color-payment-icon-success: #4ade80;
  --color-payment-link-background: #e5610a;
  --color-payment-link-text: #fdedd7;
  --color-payment-status-background: #295b40;
  --color-payment-status-text: #dcfce8;
  --color-payment-button-background: #f29145;
  --color-payment-button-text: #262626;

  /* -------------------------------------------------- */
  /* -------------------------------------------------- */
}
@layer base {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }
  html {
    @apply bg-background;
  }
  body {
    @apply max-tablet:w-80 min-tablet:w-192 min-desktop:w-360 flex flex-col mx-auto bg-foreground;
  }
}
@layer components {
  .link {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link  hover:text-nav-link-active cursor-pointer capitalize;
  }
  .active {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link-active cursor-pointer capitalize;
  }
  .is-open {
    @apply block;
  }
  footer ul li {
    @apply w-[191px] max-desktop:w-[161px] max-tablet:w-[110px] flex flex-col gap-[32px];
  }
  footer ul li h3 {
    @apply font-semibold text-[20px] leading-[30px] tracking-[-0.02rem];
  }
  .flex-c {
    @apply flex flex-col;
  }
  .text-44-54-700 {
    @apply text-[44px] font-[700] leading-[54px];
  }
  .text-36-46-600 {
    @apply text-[36px] leading-[46px] font-[600];
  }
  .text-32-44-500 {
    @apply text-[32px] leading-[44px] font-[500];
  }
  .text-28-40-600 {
    @apply text-[28px] leading-[40px] font-[600];
  }
  .text-28-40-500 {
    @apply text-[28px] leading-[40px] font-[500];
  }
  .text-24-36-500 {
    @apply text-[24px] leading-[36px] font-[500];
  }
  .text-20-30-500 {
    @apply text-[20px] leading-[30px] font-[500];
  }
  .text-20-30-600 {
    @apply text-[20px] leading-[30px] font-[600];
  }
  .text-18-28-600 {
    @apply text-[18px] leading-[28px] font-[600];
  }
  .text-18-28-500 {
    @apply text-[18px] leading-[28px] font-[500];
  }
  .text-18-28-400 {
    @apply text-[18px] leading-[28px] font-[400];
  }
  .text-16-26-500 {
    @apply text-[16px] leading-[26px] font-[500];
  }
  .text-16-26-400 {
    @apply text-[16px] leading-[26px] font-[400];
  }
  .text-14-24-500 {
    @apply text-[14px] leading-[24px] font-[500];
  }
  .text-14-24-400 {
    @apply text-[14px] leading-[24px] font-[400];
  }
}
.swiper-slide {
  display: flex;
  background: #262626;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  border-radius: 6px;
  border: 2px solid #383b42;
  height: 75%;
  width: 100%;
}
.mySwiper2 .swiper-slide {
  padding: 12px;
}

.mySwiper {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  margin-top: 32px;
  width: 130px;
  height: calc(100% - 32px);
  opacity: 0.4;
  border-radius: 6px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #f29145;
}
.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

/* slide show css */

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--clolor-slide-show-progress);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--clolor-slide-show-progress);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper-button-prev{
  width: 44px;
  height: 74px;
}
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
