@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-mobile: 30rem;
  --w-mobile: 30rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-desktop: 90rem;
  --color-backgroud: #41444f;
  --color-foreground: #1a1a1a;
  --color-logoOrange: #f29145;
  --color-logoNeutral: #fcfcfc;
  --color-nav-link: #b0b0b0;
  --color-nav-link-active: #f29145;
  --color-hamburger-menu: #fcfcfc;
  --color-line: #383b42;
}
@layer base {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html {
    @apply bg-backgroud;
  }
  body {
    @apply max-tablet:w-80 min-tablet:w-192 min-desktop:w-360 flex mx-auto bg-foreground;
  }
}
@layer components {
  .link {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link  hover:text-nav-link-active cursor-pointer capitalize;
  }
  .active {
    @apply font-semibold text-[16px] leading-[26px] text-nav-link-active cursor-pointer capitalize;
  }
  .is-open {
    @apply block;
  }
  footer ul li {
    @apply w-[191px] max-desktop:w-[161px] max-tablet:w-[110px]  flex flex-col gap-[32px];
  }
  footer ul li h3 {
    @apply font-semibold text-[20px] leading-[30px] tracking-[-0.02rem];
  }
}
